.box {
  width: 200px;
  height: 160px;
  background: linear-gradient(
    180deg,
    red 25%,
    orange 25%,
    orange 50%,
    blue 50%,
    blue 75%,
    green 75%
  );
  background-size: auto 50%;
  margin-bottom: 100px;
}

.box1 {
  width: 200px;
  height: 160px;
  background: linear-gradient(
    90deg,
    red 25%,
    orange 25%,
    orange 50%,
    blue 50%,
    blue 75%,
    green 75%
  );
  background-size: 40% auto;
  margin-bottom: 100px;
}

.box2 {
  width: 200px;
  height: 160px;
  background: linear-gradient(
    45deg,
    red 0 25%,
    orange 25% 50%,
    red 50% 75%,
    orange 75%
  );
  background-size: 40px 40px;
  margin-bottom: 100px;
}

.box3 {
  width: 200px;
  height: 160px;
  color: #fff;
  background: repeating-linear-gradient(
    45deg,
    blue 0 20px,
    orange 20px 40px,
    green 40px 60px
  );
  display: inline-block;
}

.box4 {
  width: 200px;
  height: 160px;
  color: #fff;
  background: repeating-linear-gradient(
    60deg,
    blue 0 20px,
    orange 20px 40px,
    green 40px 60px
  );
  display: inline-block;
}
